<!--
|========================
|      Script
|========================
-->
<script src="assets/javascripts/script/main.js"></script>

<!-- Footer -->
<div class="w3-padding-large w3-blue-gray">
  <footer class="w3-center">
    <p>
      <i class="fa fa-envelope"> P.O.Box 1231-00232</i><br>
      <i>Copyright &copy; 2019 EliteSketch.</i>
    </p>
  </footer>
</div>
