<!-- Navigation bar -->
<div class="w3-top w3-light-grey">
  <div class="w3-bar" id="myNavbar">
    <a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right w3-hover-blue-gray" href="javascript:void(0)" onclick="toggleFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    <a href="homes" class="w3-bar-item w3-button w3-padding-large w3-hover-blue-grey" title="Home"><i class="fa fa-home w3-hover-opacity"></i></a>
    <a href="https://github.com/elibiz443" class="w3-bar-item w3-button w3-padding-large w3-hide-small w3-hover-blue-gray" title="github"><i class="fa fa-github w3-hover-opacity"></i></i></i></a>
    <a href="https://twitter.com/OAmbet" class="w3-bar-item w3-button w3-padding-large w3-hide-small w3-hover-blue-gray" title="twitter"><i class="fa fa-twitter w3-hover-opacity"></i></i></i></a>
    <a href="javascript:void(0)" class="w3-bar-item w3-button w3-padding-large w3-right w3-hover-blue-gray w3-hide-small w3-right" title="Search"><i class="fa fa-search w3-hover-opacity"></i></a>
  </div>
</div>

<!-- Navbar on small screens (remove the onclick attribute if you want the navbar to always show on top of the content when clicking on the links) -->
<div id="navDemo" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium w3-top" style="margin-top:46px">
  <a href="https://github.com/elibiz443" class="w3-bar-item w3-button w3-padding-large" title="Github" onclick="toggleFunction()"><i class="fa fa-github"></i></a>
  <a href="https://twitter.com/OAmbet" class="w3-bar-item w3-button w3-padding-large" title="Twitter" onclick="toggleFunction()"><i class="fa fa-twitter"></i></a>
  <a href="javascript:void(0)" class="w3-bar-item w3-button w3-padding-large" title="Search" onclick="toggleFunction()"><i class="fa fa-search"></i></a>
</div>
