<!-- Header -->
<header class="w3-display-container w3-content w3-center" id="home" style="max-width:1500px">
  <div class="bgimg-1 w3-display-container w3-opacity-min">
    <div class="w3-display-middle w3-padding-large w3-border w3-wide w3-text-light-grey w3-center">
      <h2 class="w3-hide-medium w3-hide-small"><b>TUTORIALS</b></h2>
      <h3 class="w3-hide-large"><b>TUTORIALS</b></h3>
    </div>
  </div>
</header>

<!-- Page content -->
<div class="w3-container w3-padding-large w3-white">

  <!-- Back -->
  <a href="homes" class="w3-bar-item w3-button w3-padding-large w3-hover-grey" title="back"><i class="fa fa-arrow-left w3-hover-opacity"></i></i></a>

  <h2 class="w3-wide">Featured Tutorials.</h2>
  <div class="w3-row-padding w3-center" style="margin-top:64px">
    <div class="w3-quarter">
      <i class="fa fa-laptop w3-margin-bottom w3-jumbo w3-center"></i>
      <h4><i>Dynamic Sites.</i></h4>
    </div>
    <div class="w3-quarter">
      <i class="fa fa-tablet w3-margin-bottom w3-jumbo"></i>
      <h4><i>Static Sites.</i></h4>
    </div>
    <div class="w3-quarter">
      <i class="fa fa-database w3-margin-bottom w3-jumbo"></i>
      <h4><i>Databases.</i></h4>
    </div>
    <div class="w3-quarter">
      <i class="fa fa-arrow-right w3-margin-bottom w3-jumbo"></i>
      <h4><i>Deploying Apps.</i></h4>
    </div>
  </div>

  <!-- Tutorial Section -->
  <% @tutorials.each do |tutorial| %>
    <div class="w3-padding-64 w3-light-grey">
      <div class="w3-row-padding">
        <div class="w3-col w3-light-grey l8 m6 w3-hide-small" style="width:100%">
          <h1 class="w3-xlarge w3-text-dark-grey"><b><%= tutorial.title %></b></h1>
          <iframe class="w3-container w3-light-grey" style="width:50%" src="https://www.youtube.com/embed/tgbNymZ7vqY"></iframe>
          <div class="w3-right" style="width:45%">
            <ul class="w3-ul w3-border">
             <li><%= tutorial.body %></li>
            </ul>
          </div>
        </div>
        <!--Tutorial Section On small devices -->
        <div class="w3-col w3-light-grey l4 m6 w3-hide-large w3-hide-medium" style="width:100%">
          <h3 class="w3-large w3-text-dark-grey"><b><%= tutorial.title %></b></h3>
          <iframe class="w3-container w3-light-grey" style="width:95%" src="<%= tutorial.tutorial_link %>"></iframe>
          <div style="width:95%">
            <p><%= tutorial.body %></p>
          </div>
        </div>
      </div>
    </div>
  <% end %>

  <div class="w3-bar w3-center w3-padding-large">
    <b><i><%== pagy_nav(@pagy) %></i></b>
  </div> 

<!-- End page content -->
</div>  