<!-- Header -->
<header class="w3-display-container w3-content w3-center" id="home" style="max-width:1500px">
  <div class="bgimg-3 w3-display-container w3-opacity-min">
    <div class="w3-display-middle w3-padding-large w3-border w3-wide w3-text-light-grey w3-center">
      <h2 class="w3-hide-medium w3-hide-small"><b>CONTACTS</b></h2>
      <h3 class="w3-hide-large"><b>CONTACTS</b></h3>
    </div>
  </div>
</header>

<!-- Page content -->
<div class="w3-container w3-padding-large w3-white">

  <!-- Back -->
  <a href="homes" class="w3-bar-item w3-button w3-padding-large w3-hover-grey" title="back"><i class="fa fa-arrow-left w3-hover-opacity"></i></i></a>

  <!-- Container (Contact Section) -->
  <div class="w3-padding-64 w3-light-grey">
    <div class="w3-row w3-padding-32 w3-section">
      <div class="w3-col m4 w3-container">
        <div class="w3-large w3-margin-bottom">
          <i class="fa fa-map-marker fa-fw w3-hover-text-black w3-xlarge w3-margin-right"></i> Nairobi, Kenya<br>
          <i class="fa fa-phone fa-fw w3-hover-text-black w3-xlarge w3-margin-right"></i> Phone: +254 703103579<br>
          <i class="fa fa-envelope fa-fw w3-hover-text-black w3-xlarge w3-margin-right"></i> Email: e37@elitesketch.com<br>
        </div>
      </div>
      <div class="w3-col m8 w3-panel">
        <%= form_for Contact.new, url: {action: "create"}, html: {class: "single-form quate-form"} do |f| %>
          <div class="w3-row-padding" style="margin:0 -16px 8px -16px">
            <div class="w3-half">
              <%= f.text_field :email, placeholder: 'Email', class: 'w3-input w3-border form-control' %>
            </div>
            <div class="w3-half">
              <%= f.text_area :message, placeholder: 'Message', class: 'w3-input w3-border form-control' %>
            </div>
          </div>
          <button class="w3-button w3-black w3-right w3-section" type="submit">
            <i class="fa fa-paper-plane" id="form-submit"></i> SEND MESSAGE
          </button>
        <% end %>

        <% flash.each do |key, value| %>
          <div class="alert alert-<%= key %>"><%= value %></div>
        <% end %>
      </div>
    </div>
  </div>

<!-- End page content -->
</div> 
