<!-- Header -->
<header class="w3-display-container w3-content w3-center" id="home" style="max-width:1500px">
  <!-- Hide small -->
  <div class="header-wrapper">
    <img class="w3-image" style="background-color:rgb(2, 20, 2);" src="assets/banner.jpg" alt="banner" width="1500" height="300">
    <div class="w3-display-middle w3-padding-large w3-border w3-wide w3-text-light-grey w3-center">
      <img class="w3-image" src="assets/logo.jpg" alt="logo" width="200" height="100">
      <h3 class="w3-hide-medium w3-hide-small">ES TEMPLATES</h3>
    </div>
  </div>

  <!-- Navbar (placed at the bottom of the header image) -->
  <div class="w3-bar w3-light-grey w3-round w3-display-bottommiddle w3-hide-small" style="bottom:-16px">
    <a href="tutorials" class="w3-bar-item w3-button">Tutorials</a>
    <a href="abouts" class="w3-bar-item w3-button">About</a>
    <a href="contacts" class="w3-bar-item w3-button">Contact</a>
  </div>
</header>

<!-- Navbar on small screens -->
<div class="w3-center w3-blue-gray w3-padding-16 w3-hide-large w3-hide-medium">
<div class="w3-bar w3-light-grey">
  <a href="tutorials" class="w3-bar-item w3-button">Tutorials</a>
  <a href="abouts" class="w3-bar-item w3-button">About</a>
  <a href="contacts" class="w3-bar-item w3-button">Contact</a>
</div>
</div>

<!-- Page content -->
<div class="w3-container w3-padding-large w3-light-grey">

  <!-- Template Section -->
  <div class="w3-content w3-padding-64 w3-light-grey">
      <% @homes.each do |home| %>
        <%= image_tag home.image.url, class: "w3-image" %>
        <h1 class="w3-xlarge w3-text-dark-grey"><b><%= home.title %></b></h1>
        <p class="w3-text-dark-grey"><b><i><%= home.body %></i></b></p>

        <div class="w3-panel w3-bottombar w3-border-blue-grey">
          <button class="w3-button w3-light-grey w3-padding-large w3-section">
            <i class="fa fa-check"></i> Demo
          </button>
          <button class="w3-button w3-light-grey w3-padding-large w3-section" onclick="document.getElementById('download').style.display='block'">
            <i class="fa fa-download"></i> Download
          </button>
        </div>
      <% end %>
  </div>

  <div class="w3-bar w3-center w3-padding-large">
    <b><i><%== pagy_nav(@pagy) %></i></b>
  </div> 

  <!-- Modal -->
  <div id="download" class="w3-modal w3-animate-opacity">
    <div class="w3-modal-content" style="padding:32px">
      <div class="w3-container w3-white">
        <i onclick="document.getElementById('download').style.display='none'" class="fa fa-remove w3-xlarge w3-button w3-transparent w3-right w3-xlarge"></i>
        <h4>DOWNLOAD</h4>
        <p>Download the template!</p>
        <p><input class="w3-input w3-border" type="text" placeholder="Enter e-mail"></p>
        <button type="button" class="w3-button w3-block w3-padding-large w3-blue-gray w3-hover-gray w3-margin-bottom" onclick="document.getElementById('download').style.display='none'">Download</button>
      </div>
    </div>
  </div>

<!-- End page content -->
</div> 