<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @home.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @home.body %>
</p>

<p>
  <strong>Demo link:</strong>
  <%= @home.demo_link %>
</p>

<p>
  <strong>Download link:</strong>
  <%= @home.download_link %>
</p>

<%= link_to 'Edit', edit_home_path(@home) %> |
<%= link_to 'Back', homes_path %>
