<!-- Header -->
<header class="w3-display-container w3-content w3-center" id="home" style="max-width:1500px">
  <div class="bgimg-2 w3-display-container w3-opacity-min">
    <div class="w3-display-middle w3-padding-large w3-border w3-wide w3-text-light-grey w3-center">
      <h2 class="w3-hide-medium w3-hide-small"><b>ABOUT</b></h2>
      <h3 class="w3-hide-large"><b>ABOUT</b></h3>
    </div>
  </div>
</header>

<!-- Page content -->
<div class="w3-container w3-padding-large w3-light-grey">
  <!-- Back -->
  <a href="homes" class="w3-bar-item w3-button w3-padding-large w3-hover-grey" title="back"><i class="fa fa-arrow-left w3-hover-opacity"></i></i></a>

<!-- About Section -->
  <div class="w3-container w3-content w3-center w3-padding-64 w3-light-grey" style="max-width:800px">
    <h2 class="w3-wide">Key features</h2>
    <div class="w3-row-padding w3-center" style="margin-top:64px">
      <div class="w3-quarter">
        <i class="fa fa-desktop w3-margin-bottom w3-jumbo w3-center"></i>
      </div>
      <div class="w3-quarter">
        <i class="fa fa-heart w3-margin-bottom w3-jumbo"></i>
      </div>
      <div class="w3-quarter">
        <i class="fa fa-diamond w3-margin-bottom w3-jumbo"></i>
      </div>
      <div class="w3-quarter">
        <i class="fa fa-cog w3-margin-bottom w3-jumbo"></i>
      </div>
    </div>

    <% @abouts.each do |about| %>
      <p class="w3-opacity"><i><%= about.title %></i></p>
      <p class="w3-justify"><%= about.body %></p>
    <% end %>

  </div>

  <div class="w3-bar w3-center w3-padding-large">
    <b><i><%== pagy_nav(@pagy) %></i></b>
  </div> 
    
  <div class="w3-row w3-padding-32">
    <div class="w3-center">
      <img src="assets/about_image.jpg" class="w3-circle w3-margin-bottom" alt="Elly Ambet" style="width:10%">
      <p class="w3-opacity"><i><b>Elly Ambet</b></i></p>
      <b><i>Software Developer.</i></b>
    </div>
  </div>

<!-- End page content -->
</div>  